{% assign footerdata = site.data.footer %}
<div class="footer-content">
  <div class="footer-wrapper">
    {% for footeritem in footerdata %}
      {% if footeritem.header == "Connect" %}
        <div class="footer-area">
          <div class="footer-area2">
            <h5>{{ footeritem.header }}</h5>
            <ul class="footer-list">
              {%- for connect in footeritem.social -%}
                <li>
                  <img class="connect-img" src="{{ connect.image }}" alt="{{ connect.title }} icon"><a class="text-link" href="{{ connect.url }}">{{ connect.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      {% else %}
        <div class="footer-area">
          <div class="footer-area1">
            <h5>{{ footeritem.header }}</h5>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
