<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% assign navs = site.data.navigation %}
<nav class="site-nav" id="navbar">
  {% for nav in navs %}
    {% if nav.subnavs %}
      <div class="dropdown" id="navdrop">
        <a href="{{ site.baseurl }}{{ nav.url }}" class="dropdown-button">{{ nav.title }}</a>
        <div class="dropdown-list" id="navlist">
          {% for subnav in nav.subnavs %}
            <a href="{{ site.baseurl }}{{ subnav.url }}">{{ subnav.title }}</a>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.title }}</a>
    {% endif %}
  {% endfor %}
  <a href="javascript:void(0);" class="icon" onclick="expandNav()">
    <i class="fas fa-bars"></i>
  </a>
</nav>
<script src="/assets/js/expandNav.js" charset="utf-8"></script>
