<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<header>
  <nav class="site-nav" id="navbar">
    {% assign links = site.data.navigation %}
    {% for link in links %}
      {% assign class = nil %}
      {% if page.url contains link.url %}
        {% assign class = 'active' %}
      {% endif %}
      {% if link.sublinks %}
        <div class="dropdown" id="navdrop">
          <a href="{{ site.baseurl }}{{ link.url }}" class="dropdown-button">{{ link.title }}</a>
          <div class="dropdown-list">
            {% for sublink in link.sublinks %}
              <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
      {% endif %}
    {% endfor %}
    <a href="javascript:void(0);" class="icon" onclick="expandNav()">
      <i class="fas fa-bars"></i>
    </a>
  </nav>
  <script type="text/javascript">
    function expandNav() {
      var x = document.getElementById("navbar");
      var y = document.getElementById("navdrop");
      if (x.className === "site-nav") {
        x.className += " responsive";
      } else {
        x.className = "site-nav";
      }
      if (y.className === "dropdown") {
        y.className += " responsive";
      } else {
        y.className = "dropdown";
      }
    }
  </script>
</header>
