@charset "utf-8";

$background-color: #4C4C4C !default;
$base-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !default;
$base-font-size: 20px !default;
$base-line-height: 1.75 !default;
$base-text-color: #FFFF !default;

.site {
  background-color: $background-color;
  background-size: cover;
  color: $base-text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  height: auto !important;
  line-height: $base-line-height;
  margin: 10px 0 10px 0;
  min-height: 100vh;
  padding: 0;
  position: absolute;
}

.site-content {
  background-color: #FFF2;
  border-radius: 5px;
  margin: 65px 0 65px 30px;
  padding: 20px;
}

@import
  "components/footer",
  "components/layout",
  "components/navbar",
  "components/sidebar",
  "components/textstyle"
;
