@charset "utf-8";

$base-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !default;
$base-font-size: 20px !default;
$base-line-height: 1.75 !default;
$base-text-color: #FFFF !default;
$background-color: #4C4C4C !default;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-text-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

main {
  margin: 30px;
  padding: 20px;
}

@import
  "components/layout",
  "components/navbar",
  "components/footer"
;
