@charset "utf-8";

$background-color: #4c4c4c !default;
$base-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !default;
$base-font-size: 17px !default;
$base-line-height: 1.75 !default;
$base-text-color: #ffffff !default;

.site {
  background-color: $background-color;
  background-size: cover;
  color: $base-text-color;
  font-display: auto;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 10px 0 10px 0;
  min-height: 100vh;
  padding: 0;
  position: absolute;
}

.site-content {
  background-color: #696969;
  border-radius: 5px;
  margin: 84px 0 31px 30px;
  padding: 40px;
}

@import
  "components/elementstyle",
  "components/footer",
  "components/layout",
  "components/navbar",
  "components/sidebar"
;
