footer {
  background-color: #333333;
  bottom: -1;
  position: absolute;
  width: 100vw;
}

.footer-content {
  margin: 0
}

.footer-area {
  margin: 0 0 0 0;
}

.footer-list {
  list-style-type: none;
}
