.site-footer {
  grid-area: header;
}
.site-content {
  grid-area: content;
}

.site-sidebar {
  grid-area: sidebar;
}

.site-footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
}

@media (min-width: 1000px) {
  .wrapper {
    grid-template-columns: 1000px;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "footer";
  }
}

@media (min-width: 1000px) {
  .wrapper {
    grid-template-columns: 400px 275px 325px;
    grid-template-rows: auto;
    grid-template-areas:
      "header  header  header"
      "content content sidebar"
      "footer  footer  footer";
   }
}

@media screen and (max-width: 999px) {
  .site-nav a:not(:first-child) {
    display: none;
  }
  .site-nav a.icon {
    display: block;
    float: right;
  }
  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .site-sidebar {
    margin: 0 0 0 0;
  }
  .site-content {
    margin-right: 30px;
  }
  .posts {
    margin: 0 30px 65px 30px !important;
  }
  .site-nav.responsive {
    width: 100vw;
  }
  .site-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .site-nav.responsive a {
    display: block;
    float: none;
    text-align: left;
  }
  .dropdown.responsive {
    display: block;
    width: 100vw;
  }
  .dropdown-list {
    width: 100vw;
  }
  .site-footer {
    left: 0;
  }
  .dropdown-list.responsive a:first-child {
    display: none;
  }
}
