.site-nav {
  background-color: #333333;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.site-nav a {
  color: #ffffff;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
}

.site-nav a:hover {
  background-color: #dddddd;
  color: #000000;
}

.site-nav .navbar-hamburger {
  display: none;
}

.dropdown {
  background-color: #333333;
  float: left;
  overflow: hidden;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.dropdown-list {
  background-color: #f9f9f9;
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-list a {
  color: #000000;
  display: block;
  float: none;
  text-align: left;
}

.dropdown-list a:hover {
  background-color: #dddddd;
  color: #000000;
}
