.site-nav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100vw;
}

.site-nav a {
  color: #f2f2f2;
  display: block;
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.site-nav a:hover{
  background-color: #ddd;
  color: black;
}

.site-nav .icon {
  display: none;
}

.dropdown {
  background-color: #333;
  float: left;
  overflow: hidden;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.dropdown-button {
  color: #f2f2f2;
  display: block;
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.dropdown-list {
  background-color: #f9f9f9;
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-list a {
  color: black;
  display: block;
  float: none;
  padding: 14px 16px;
  text-align: left;
  text-decoration: none;
}

.dropdown-list a:hover {
  background-color: #ddd;
  color: black;
}
