h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
}

a.text-link:link {
  color: #ffffff;
}

a.text-link:hover {
  color: #000000;
}

a.text-link:visited {
  text-decoration: none;
}
