<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include head.html %}
    <title>{{ page.title }}</title>
  </head>
  <div class="wrapper">
    <body class="site">
      <div class="site-header">
        <header>
          {% include header.html %}
        </header>
      </div>
      <div class="site-sidebar">
        {% include sidebar.html %}
      </div>
      <div class="site-content">
        {{ content }}
      </div>
      <div class="site-footer">
        <footer>
          {% include footer.html %}
        </footer>
      </div>
    </body>
  </div>
</html>
